/* Import the google web fonts you want to use */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,

body {
    background-color: linen;
    font-family: 'Titillium Web', Arial, sans-serif;

}
textarea {
	color: #404040;
	font-family: 'Titillium Web', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Titillium Web', serif;
  letter-spacing: 2px;
}

.section-container{
    padding: 1.5em;
}

.section-content{
    text-align: center;

}

.container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 25vw;
    padding: 1em;
    margin: 1em;
    border: 1x solid gray;

}

img{
    display: block;
    height: auto;
    border-radius: 8px;
    width: 100%
}

#demo {
    font-size: large;
}

.home-page {
    background-image: url('https://i.imgur.com/4GjIYON.jpg');
}

.sort-dropdown {
    margin-left: 100px;
}