small {
    font-size: 80%;
  }

  header {
    background-color:#81a684;
    border: #466060 solid 3px;
  }

  .site-title {
    color: cornsilk;
    text-align: center;
    text-shadow: 2px 2px #233d4d;

  }

  .title-quote{
    color: cornsilk;
    text-align: center;
    text-shadow: 1px 1px black;

  }

  .authLabel{
    text-align: center;
      color: linen;
      border: #233d4d;
      text-shadow: 1px 1px black;
    }

  nav .container {
    display: flex;
    padding: 0;
    margin-bottom: 0;
  }

  nav .container li {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    color: cornsilk;
    box-sizing: border-box;
    background-color: #233d4d;
    list-style-type: none;
  }

  nav .container a {
    color: cornsilk;
  }

  nav .container a:hover {
    color: #ffffff;
  }

  label userNameLogin {
      font-size: 50%
  }

